.radio-greens input[type=radio] {
  display: none;
}
.radio-greens div.form-type-radio {
  display: inline-block;
}
.radio-greens input[type=radio] + label {
  display: inline-block;
  font-weight: bold;
  color: #00ff2d !important;
  font-size: 14px;
  text-shadow: 1px 1px 0px #7cacde;
  box-shadow: 1px 1px 1px #bee2f9;
  padding: 10px 25px;
  cursor: pointer;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
  background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
  background-image: -o-linear-gradient(top,#fff,#e6e6e6);
  background-image: linear-gradient(to bottom,#fff,#e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #ccc;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  border-bottom-color: #b3b3b3;
  filter: progid: dximagetransform.microsoft.gradient(startcolorstr='#ffffffff',endcolorstr='#ffe6e6e6',gradienttype=0);
  filter: progid: dximagetransform.microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}

.radio-greens input[type=radio]: checked + label {
  font-family: verdana;
  font-weight: bold;
  color: #ffffff !important;
  font-size: 14px;
  text-shadow: 1px 1px 0px #7cacde;
  box-shadow: 1px 1px 1px #bee2f9;
  padding: 10px 25px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #63b8ee;
  background: linear-gradient(top,  #eede05,  #7dcf1f);
  background: -ms-linear-gradient(top,  #eede05,  #7dcf1f);
  background: -webkit-gradient(linear, left top, left bottom, from(#eede05), to(#7dcf1f);
  background: -moz-linear-gradient(top,  #eede05,  #7dcf1f);
}
